.header{
    max-width: 891px;
    min-height: 292px;
    margin-bottom: 2.5rem;

    &__hello{
        font-size: 2.5rem;
        color: $headers;
        line-height: 3.5rem;
        font-weight: 600;
    }

    &__info{
        max-width: 681px;
        font-size: 1.25rem;
        font-weight: 300;
        color: $text-grey;
        line-height: 2.25rem;
        margin-bottom: 3.75rem;
    }

    &__link{
        color: $link-blue;
        font-weight: 500;
    }

    &__mail{
        font-size: 1.25rem;
        line-height: 2rem;
        text-decoration: none;
        padding-bottom: 10px;
        border-bottom: 3px solid $link-blue;
    }


}