.bottom-container{
    background-color: $box-footer;
    
    @media(max-width: $mobile){
         padding: 0 16px;   
    }
}



.projects{
    
    font-size: 1.25rem;
    color:$text-grey;
    line-height: 2.25rem;
    font-weight: 300;
    max-width: 1200px;
    padding: 112px 16px 100px;
    margin: 0 auto;

    @media(max-width: $mobile){
        padding: 80px 0 80px;
    }
    
    
    &__title{
        font-size: 2.25rem; 
        line-height: 3rem;
        color:$headers;

        @media(max-width: $mobile){
            margin-bottom: 8px;   
        }
    }
    
    &__description{
        max-width:580px;
        margin-bottom: 4rem;

        @media(max-width: $mobile){
            margin-bottom: 32px;   
        }
    }
}

                    
.projects-container{                        
    display:grid;                       
    grid-template-columns: 1fr 1fr;                      
    column-gap: 1.5rem;   
    row-gap: 1.5rem;     
    
    @media(max-width: $mobile){
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));       
    }
}

.project{
    background-color: $white;
    font-size: 1.125rem;
    line-height: 2rem;
    border-radius: 8px;
    box-shadow:  0px 6px 16px rgba(24, 41, 67, 0.09);

    &__list{
        padding: 3rem 3rem 0;
        margin:0;
    }
}

.project-items{

    list-style-type: none;

    &__logo{
        width:3rem;
        height: 3rem;
    }

    &__title{
        font-size: 1.25rem;
        color:$headers;
        line-height:2.25rem;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1.125rem;
    }

    &__description{

        margin-bottom: 3rem;
    }
}

.project-footer{

    height: 4rem;
    background-color: $box-footer;
    // background-color: #bbb;
    border-radius: 0 0 8px 8px;
    line-height: 4rem;
    // padding-right: 3rem;
    text-align: right;


    &__link{
        position: relative;
        color: $link-blue;
        font-weight: 500;
        text-decoration: none;
        padding-right: 3rem;

        & .fa{
            padding-right: 8px;
        }
        & .fa-desktop{
            padding-right: 8px;  

            &::after{
                position: absolute;
                top:0;
                left: 105px;
                content: "";
                height: 32px;
                width: 2px;
                display: block;
                background-color: $line;

                @media(max-width: $mobile){
                    left:83px;
                }
            }
        }
    }

}

