
$white: #FFFFFF;
$black: #000000;
$link-blue: #0593FB;
$headers: #171F3F;
$text-grey: #52606D;
$green: #06C847;
$violet: #653CAD;
$blue: #2251CC;
$box-footer: #F5F7FA;
$line: #CBD2D9;

$mobile: 768px;

