@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');

@import "modules/_main-container";
@import "modules/_header";
@import "modules/_my-skills";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $violet;
  background: $white;
  font-family: 'Poppins', sans-serif;
  border: 16px solid $headers;
}